html
    font-family: Arial, Helvetica, sans-serif;
    header
        background: #333;
        display: flex
        justify-content: space-between
    div.first-child
            display:flex
        div
            .logo
             padding: 
