@font-face {
  font-family: 'icons';
  src: url("../fonts/icons/icomoon.eot?5khljo");
  src: url("../fonts/icons/icomoon.eot?5khljo#iefix") format('embedded-opentype'), url("../fonts/icons/icomoon.ttf?5khljo") format('truetype'), url("../fonts/icons/icomoon.woff?5khljo") format('woff'), url("../fonts/icons/icomoon.svg?5khljo#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
html body{
  background: #e8e8e8;
}

html header {
    background: #444444;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 2px 4px rgba(0,0,0,0.20);
}
header div:first-child {
  display: flex;
}
header div .logo {
    padding: 0 35px;
    border-right: 2px solid #22bce0;
    margin: 10px 0;
}

header div .logo img {
    height: 100px;
}

header div .encabezado {
    margin: 10px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header div .encabezado .titulo, 
header div .encabezado .clase, 
header div .encabezado .fuente {
    color: white;
}

header div .encabezado .titulo h2 {
    font-size: 18px;
}

header div .encabezado .clase {
    margin-top: 5px;
}

header div .encabezado .clase h3 {
    font-size: 14px;
    font-style: italic;
    color: #22bce0;
    font-weight: bold;
}

header div .encabezado .fuente {
    display: flex;
    margin-top: 5px;
    align-items: first baseline;
    color:#dd4f24;
}

header div .encabezado .fuente p {
   margin-right: 5px;
   cursor: pointer;
   align-items: first baseline;
}

header div .encabezado .fuente p:first-child {
    font-size: 12px;
}

header div .encabezado .fuente p:last-child {
    font-size: 20px;
}

header .avatar-publicar {
  display: flex; 
  align-items: center;
  margin-right: 30px;
}

header .avatar-publicar .avatar {
    display: flex; 
    align-items: center;
}
html header .avatar-publicar .avatar .img-avatar {
  margin-right: -5px;
  z-index: 1;
}

html header .avatar-publicar .avatar .img-avatar img {
  height: 50px;
  border-radius: 50%;
}
header .avatar-publicar .avatar .menu {
  background: #dd4f24;
  height: fit-content;
  padding: 5px 5px 5px 10px;
}
header .avatar-publicar .avatar .menu p {
  color: white;
}
html header .avatar-publicar .avatar .menu p span::after {
  font-family: 'icons';
  content: "\ea1c";
  display: inline-block;
  transform: rotate(90deg);
}
header .avatar-publicar .btn {
    background: #dd4f24;
    padding: 10px 35px 10px 65px;
    margin-right: -5px;
}

header .avatar-publicar .btn p {
    color: white;
    font-style: italic;
    position: relative;
}
html header .avatar-publicar .btn p span {
  position: absolute;
  left: -55px;
  top: -20px;

}
html header .avatar-publicar .btn p :before{
font-family:'icons';
    content: "\e908";
    font-size: 40px;
}
html nav{
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2);
}
html nav ul{
  display:flex;
  background-color: #22bce0;
  padding: 15px 0;
}
html nav ul li{
  margin-right: 35px;
  margin-left: 15px;
}
html nav ul li:hover{
  background: rgba(0,0,0,0.2);
}
html nav ul li a{
  color: #fff;
font-size: 14px;
font-weight: bold;
text-decoration: none;
}
html section {
  display: flex;
  flex-wrap: wrap;
}
html section article {
  background: #fff;
  margin: 10px auto;
  border-radius: 0 0 16px 16px;
  flex-basis: 45%;
  box-shadow: 1px 5px 3px 1px rgba(0,0,0,0.5);
}
html section article .contenido {
  border-bottom: 2px solid #22bce0;
  display: flex;
}
html section article .contenido .portada img {
  height: 200px;
}
html section article .contenido .informacion {
  margin: 0 15px;
  flex-grow: 1;
}
html section article .contenido .informacion .titulo {
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  margin-top: 10px;
}
html section article .contenido .informacion .autor {
  margin-top: 5px;
}
html section article .contenido .informacion span {
  color: #dd4f24;
  text-decoration: underline;
}
html section article .contenido .informacion .tag-tiempo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
html section article .contenido .informacion .tag-tiempo .tag p {
  background-color: #22bce0;
  padding: 5px 10px;
  color: #fff;
  border-radius: 16px;
}
html section article .contenido .informacion .tag-tiempo .tiempo p {
  font-weight: bold;
}
section article .puntuacion{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 15px;
}
html section article .puntuacion .ranking p .up::before {
  font-family: 'icons';
  content: "\ea1c";
  color: #008000;
  display: inline-block;
  transform: rotate(-90deg);
}
html section article .puntuacion .ranking p .down::before {
  font-family: 'icons';
  content: "\ea1c";
  color: #f00;
  display: inline-block;
  transform: rotate(90deg);
}
html section article .puntuacion .clasificacion p .puntaje {
  background-color: #444;
  padding: 3px 5px;
  border-radius: 2px;
  color: #fff;
}
html section article .puntuacion .clasificacion p .ico {
  margin-left: 10px;
}
html section article .puntuacion .clasificacion p .ico::before {
  color: #fcb92d;
  font-family: 'icons';
  content: "\e9d8";
}
header .avatar-publicar .avatar .img-avatar {
    margin-right: -5px;
    z-index: 1;
}


header .avatar-publicar .avatar {
    align-items: center;
}

html nav:before {
  content: "";
  position: absolute;
  border-bottom: 24px solid transparent;
  border-left: 12px solid white;
  border-top: 25px solid transparent;
}
  .navbar:hover {
    background: transparent;
  }
html header .avatar-publicar .btn p {
    color: #fff;
    font-style: italic;
    position: relative;
  }
  html header .avatar-publicar .btn p span {
    font-family: 'icons';
    position: absolute;
    content: "\e908";
    font-size: 25px;
  }
 html footer{
    background: #dd4f24;
    padding: 40px 0px;
  }
    footer div {
        display: flex;
        justify-content: center;
    }
    footer div p {
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: rgba(255,255,255,0.5);
      font-weight: bold;
    }
    html footer div p span{
        font-weight: normal;
    }
html footer div p span:before,
html footer div p span:after{
 content: " - ";
}